<p class="text-muted">Manage and view your reservations, flights, suggestions, and bids.</p>

<hr>

<ul class="nav nav-tabs mb-3" role="tablist">
  <li class="nav-item">
    <a href="#reservations" class="nav-link" data-toggle="tab" role="tab">Reservations</a>
  </li>
  <li class="nav-item">
    <a href="#bids" class="nav-link" data-toggle="tab" role="tab">Bids</a>
  </li>
  <li class="nav-item">
    <a href="#suggestions" class="nav-link" data-toggle="tab" role="tab">Suggestions</a>
  </li>
</ul>

<div class="tab-content">
  <!-- reservations -->
  <div class="tab-pane fade show active" id="reservations" role="tabpanel">
    <div class="row mb-3">
      <div class="col-12">
        <app-customer-reservation-card></app-customer-reservation-card>
      </div>
    </div>
  </div>

  <!-- bids -->
  <div class="tab-pane fade show" id="bids" role="tabpanel">
    <div class="row mb-3">
      <div class="col-12">
        bids
      </div>
    </div>
  </div>

  <!-- suggestions -->
  <div class="tab-pane fade show" id="suggestions" role="tabpanel">
    <div class="row mb-3">
      <div class="col-12">
        <app-customer-suggestions-card></app-customer-suggestions-card>
      </div>
    </div>
  </div>
</div>
