<!-- header -->
<nav class="container-fluid navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
      <a routerLink="/" class="navbar-brand"><i class="fa fa-plane"></i> Flightbook</a>

      <!-- hamburger menu -->
      <button type="button"
        class="navbar-toggler" data-toggle="collapse"
        data-target="#navbarContent" aria-controls="navbarContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- navbar -->
      <div class="collapse navbar-collapse" id="navbarContent">

        <!-- left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="/airlines" class="nav-link">Airlines</a>
          </li>
          <li class="nav-item">
            <a routerLink="" class="nav-link disabled">About</a>
          </li>
        </ul>

        <!-- right -->
        <!-- not logged in -->
        <ul class="navbar-nav" *ngIf="!authService.isLoggedIn()">
          <li class="nav-item">
            <a routerLink="/login" class="nav-link">Log In</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" class="nav-link">Register</a>
          </li>
        </ul>

        <!-- logged in -->
        <ul class="navbar-nav" *ngIf="authService.isLoggedIn()">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" id="dropdown"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              Logged in as <b>{{authService.getCurrentUser().username}}</b>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown">
              <a routerLink="/profile" class="dropdown-item">
                <i class="fa fa-user"></i> Profile
              </a>
              <a (click)="logout()" class="dropdown-item">
                <i class="fa fa-sign-out"></i> Logout
              </a>
            </div>
          </li>
        </ul>

      </div>
  </div>
</nav>

<!-- notification -->
<app-notification></app-notification>

<div class="pt-3">
  <router-outlet></router-outlet>
</div>
