<div class="row text-left">
  <!-- airports -->
  <div class="col-12 col-sm-6 mb-3">
    <small class="form-text text-muted">Flying from</small>
    <input type="text" class="form-control" placeholder="Airport" required
      [(ngModel)]="c.fromAirport" name="fromAirport">
  </div>

  <div class="col-12 col-sm-6 mb-3">
    <small class="form-text text-muted">Flying to</small>
    <input type="text" class="form-control" placeholder="Airport" required
      [(ngModel)]="c.toAirport" name="toAirport">
  </div>
</div>

<!-- time -->
<div class="row text-left mb-3">
  <div class="col-6">
    <small class="form-text text-muted">Departure Date</small>
    <input type="text" class="form-control" placeholder="MM/DD/YYYY" required
      [(ngModel)]="c.departureDate" name="departureDate">
  </div>
  <div class="col-6">
    <small class="form-text text-muted">Returning Date</small>
    <input type="text" class="form-control" placeholder="MM/DD/YYYY" required
      [(ngModel)]="c.arrivalDate" name="arrivalDate">
  </div>
</div>
