<div class="card">
    <div class="card-header">
      Best Selling Flights
    </div>
    <div class="card-body">
      <table class="table table-hover table-sm table-responsive-sm">
        <thead>
          <tr>
            <th>Flight No</th>
            <th>Booking Fee</th>
            <th>Total Fare</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of bestSoldFlights">
            <td>{{d.flightNo}}</td>
            <td>{{d.bookingFee}}</td>
            <td>{{d.totalFare}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>