<form class="form-group">
  <!-- airports -->
  <div class="row text-left">
    <div class="col-12 col-sm-6 mb-3">
      <input type="text" class="form-control" placeholder="Airport">
      <small class="form-text text-muted">Flying from</small>
    </div>

    <div class="col-12 col-sm-6 mb-3">
      <input type="text" class="form-control" placeholder="Airport">
      <small class="form-text text-muted">Flying from</small>
    </div>
  </div>

  <!-- time -->
  <div class="row text-left mb-3">
    <div class="col-12">
      <input type="text" class="form-control" placeholder="MM/DD/YYYY">
      <small class="form-text text-muted">Departure Date</small>
    </div>
  </div>

  <a href="" class="btn btn-primary btn-block">Search</a>
</form>
