<p class="text-muted">Manage users, airlines, and airports.</p>

<hr>

<ul class="nav nav-tabs mb-3" role="tablist">
  <li class="nav-item active">
    <a href="#flights" class="nav-link active" data-toggle="tab" role="tab">Flights</a>
  </li>

  <li class="nav-item">
    <a href="#users" class="nav-link" data-toggle="tab" role="tab">User Management</a>
  </li>
  
  <li class="nav-item">
    <a href="#reservations" class="nav-link" data-toggle="tab" role="tab">Reservations</a>
  </li>
</ul>

<div class="tab-content">
  <!-- flights -->
  <div class="tab-pane fade show active" id="flights" role="tabpanel">
      
    <div class="row mb-3">
      <div class="col-12">
        <app-flight-card></app-flight-card>
      </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-sm-5">
          <app-airline-card></app-airline-card>
        </div>
      
        <div class="col-12 col-sm-7">
          <app-airport-card></app-airport-card>
        </div>
      </div>
        
  </div>

  <!-- users -->
  <div class="tab-pane fade" id="users" role="tabpanel">

    <div class="row mb-3">
      <div class="col-12">
        <app-user-card></app-user-card>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12 col-sm-6">
        <app-employee-card></app-employee-card>
      </div>
      <div class="col-12 col-sm-6">
        <app-manager-card></app-manager-card>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-12">
        <app-customer-card></app-customer-card>
      </div>
    </div>
  </div>

  <!-- reservations -->
  <div class="tab-pane fade" id="reservations" role="tabpanel">
      
    <div class="row mb-3">
      <div class="col-12">
        <app-reservation-card></app-reservation-card>
      </div>
    </div>
  </div>
</div>

