<p class="text-muted">Manage and view your employees, sales reports, and flights.</p>

<hr>

<ul class="nav nav-tabs mb-3" role="tablist">
  <li class="nav-item active">
    <a href="#employees" class="nav-link active" data-toggle="tab" role="tab">Employees</a>
  </li>

  <li class="nav-item">
    <a href="#reservations" class="nav-link" data-toggle="tab" role="tab">Reservations</a>
  </li>

  <li class="nav-item">
    <a href="#flights" class="nav-link" data-toggle="tab" role="tab">Flights</a>
  </li>

  <li class="nav-item">
    <a href="#revenue" class="nav-link" data-toggle="tab" role="tab">Revenue</a>
  </li>
</ul>

<div class="tab-content">
  <!-- employees -->
  <div class="tab-pane fade show active" id="employees" role="tabpanel">
    <div class="row mb-3">
      <div class="col-12">
        <app-employee-card></app-employee-card>
      </div>
    </div>
  </div>

  <!-- reservations -->
  <div class="tab-pane fade show" id="reservations" role="tabpanel">
    <div class="row mb-3">
      <div class="col-12">
        <app-reservation-card></app-reservation-card>
      </div>
    </div>
  </div>

  <!-- flights -->
  <div class="tab-pane fade show" id="flights" role="tabpanel">
      <div class="row mb-3">
          <div class="col-12">
            <app-flight-card></app-flight-card>
          </div>
      </div>
      <div class="row mb-3">
        <div class="col-12">
          <app-flights-by-airport-card></app-flights-by-airport-card>
        </div>
    </div>
  </div>

  <!-- revenue -->
  <div class="tab-pane fade show" id="revenue" role="tabpanel">
    <div class="row mb-3">
    <div class="col-12">
      <app-revenue-card></app-revenue-card>
      <app-revenue-by-customer-rep-card></app-revenue-by-customer-rep-card>
      <app-revenue-by-customer-card></app-revenue-by-customer-card>
    </div>
    </div>
  </div>
</div>
