body {
  margin-top: 3.5rem;
}

.link-hover {
  cursor: pointer;
}

/* ladda style */

.ladda-button {
  position: relative;
}

.ladda-button .ladda-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ladda-button[data-loading] .ladda-label {
  opacity: 0;
}
