body {
  margin-top: 3.5rem;
}

.link-hover {
  cursor: pointer;
}

.shadow {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

/* cards */
.card {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
}

.card-header {
  background: #343a40;
  color: white;
}

/* ladda style */
.ladda-button {
  position: relative;
}

.ladda-button .ladda-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.ladda-button[data-loading] .ladda-label {
  background-color: rgb(241, 12, 12);
  opacity: 0;
}
