<div class = "card">
  <div class = "card-header">
    Auction Search
  </div>
  <div class = "card-body">
    <table class = "table table-hover table-sm table-responsive-sm">
      <thead>
        <tr>
          <th>Account Number</th>
          <th>Airline ID</th>
          <th>Flight Number</th>
          <th>Class</th>
          <th>Date</th>
          <th>NYOP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of auctions">
          <td>{{a.accountNo}}</td>
          <td>{{a.airlineId}}</td>
          <td>{{a.flightNo}}</td>
          <td>{{a.flightClass}}</td>
          <td>{{a.date}}</td>
          <td>{{a.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-1 text-right"><b>Filter: </b></div>
      <div class="col-3"><input class="form-control" type="string" placeholder="Airline ID" [(ngModel)]="airlineId"></div>
      <div class="col-3"><input class="form-control" type="string" placeholder="Flight Number" [(ngModel)]="flightNo"></div>
      <div class="col-3"><input class="form-control" type="string" placeholder="Flight Class" [(ngModel)]="flightClass"></div>
      <div class="col-2"><button class="btn btn-success btn-block" type="submit" (click)="getAuction()">Get Flights</button></div>
    </div>
  </div>
</div>