<div class="row text-left">
  <!-- airports -->
  <div class="col-3 mb-3">
    <small class="form-text text-muted">Flying from</small>
    <select name="fromAirport" [(ngModel)]="c.fromAirport" class="custom-select" required>
      <option *ngFor="let a of airports" [ngValue]="a.name">{{a.name}}</option>
    </select>
  </div>

  <div class="col-3 mb-3">
    <small class="form-text text-muted">Flying to</small>
    <select name="toAirport" [(ngModel)]="c.toAirport" class="custom-select" required>
      <option *ngFor="let a of airports" [ngValue]="a.name">{{a.name}}</option>
    </select>
  </div>
  
  <!-- time -->
  <div class="col-3">
    <small class="form-text text-muted">Departure Date</small>
    <input type="date" class="form-control" placeholder="MM/DD/YYYY" required
    [(ngModel)]="c.departureDate" name="departureDate">
  </div>
  
  <div class="col-3">
    <small class="form-text text-muted">Returning Date</small>
    <input type="date" class="form-control" placeholder="MM/DD/YYYY" required
    [(ngModel)]="c.returningDate" name="returningDate">
  </div>
</div>
