<div class="card">
  <div class="card-header">
    Suggested Flights
  </div>
  <div class="card-body">
    <table class="table table-hover table-sm table-responsive-sm">
      <thead>
        <tr>
          <th>AirlineID</th>
          <th>Flight Number</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of suggestions">
          <td>{{f.airlineId}}</td>
          <td>{{f.flightNo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-3"><b>Account Number: </b></div>
      <div class="col-6"><input class="form-control" type="number" placeholder="Account Number" [(ngModel)]="accountNo"></div>
      <div class="col-3"><button class="btn btn-success" type="submit" (click)="getSuggestions()">Get Suggestions</button></div>
    </div>
  </div>
</div>